.scoretext{
  font: "Century Gothic", Futura, sans-serif;
  font-size  : 5vh;
  margin-top : 14vh;
  margin-left: 0vh;
}


.robot {
  width: 60vh;
  height: 60vh;
  margin-left:  0vh;
  margin-right: 5vh;
  margin-top:   10vh;
  margin-bottom: 2vh;
  display:flex;
  cursor: pointer; 
}   

.bold {font-weight: bold; }
.purple {color: #BC2EBC; }
.blue {color: #29ABE2;}
.red {color: #F0373E;}




