.scoretext{
  font: "Century Gothic", Futura, sans-serif;
  font-size  : 5vh;
  margin-top : 14vh;
  margin-left: 0vh;
}


.robot {
  width: 60vh;
  height: 60vh;
  margin-left:  0vh;
  margin-right: 5vh;
  margin-top:   10vh;
  margin-bottom: 2vh;
  display:flex;
  cursor: pointer; 
}

.buttonFinish{
  width: 20vh;
  height: 12vh;
  font-size: 5vh; 
  position: center;
  margin-top: -5vh;
  margin-left: -5vh;
  position: relative;
  border-radius: 3vh;
  font-weight:bold; 
}
   

.bold {font-weight: bold; }
.purple {color: #BC2EBC; }
.blue {color: #29ABE2;}
.red {color: #F0373E;}




