body, html {
    height: 100vh;
  }

.buttonInstructions{
  width: 10vh;
  height: 10vh;
  margin: 0;
  border-radius: 3vh;
  font-weight:bold; 
}

.buttonInstructionsHidden{
  width: 10vh;
  height: 10vh;
  margin: 0;
  border-radius: 3vh;
  font-weight:bold; 
}

.symbolframe{
  margin-top: -8vh;
  padding-top: 2vh;
  display: relative;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.introsymbol2 {
  width: 30vh;
  height: 30vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  }   

.astro2 {
  width: 40vh;
  height: 30vh;
  margin-left: -30vh;
  margin-right: 0vh;
  margin-top: 0vh;
  margin-bottom: 0vh; 
  }   

.textbox2{
  font: "Century Gothic", Futura, sans-serif;
  font-size  : 5vh;
  margin-top : -35vh;
  margin-left: 5vh;
  margin-right: 5vh;
}


.textbox3{
  font: "Century Gothic", Futura, sans-serif;
  font-size  : 5vh;
  margin-top : 0vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.rocket {
  width: 50vh;
  height: 40vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top:5vh;
  cursor: pointer;    
}

.robot2 {
  width: 35vh;
  height: 35vh;
  margin-left: -30vh;
  margin-right: 0vh;
  margin-top: 5vh;
  margin-bottom: 0vh;
  display:flex;
}

